##Version=1.1##
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="0451", ATTRS{idProduct}=="6401", GROUP:="plugdev", MODE:="0666"
KERNEL=="hidraw*", ACTION=="add", ATTRS{busnum}=="1", ATTRS{idVendor}=="0451", ATTRS{idProduct}=="6401", GROUP:="plugdev", MODE:="0666"


