<launch>

  <node pkg="sl_sensor_calibration" type="calibrator_node" name="calibrator_node" output="screen" required="true" >

    <param name="output_camera_parameters_filename" type="string" value="$(find sl_sensor_calibration)/calibration_files/secondary_camera/secondary_camera.xml"/>

    <param name="camera_folder_name" type="string" value="cam1" />
    <param name="projector_folder_name" type="string" value="proj1" />
    <param name="directories" type="string" value="$(find sl_sensor_calibration)/calibration_sessions/cam1/" />
    <param name="ignore_1" type="string" value="" />
    <param name="projector_yaml_directory" type="string" value="$(find sl_sensor_projector)/projector_yaml/lightcrafter4500.yaml"/>

    <param name="camera_fix_principle_point" type="bool" value="0" />
    <param name="camera_fix_aspect_ratio" type="bool" value="0" />
    <param name="camera_fix_k2" type="bool" value="0" />
    <param name="camera_fix_k3" type="bool" value="0" />
    <param name="camera_zero_tangential_distortion" type="bool" value="0" />
    <param name="camera_fix_values" type="bool" value="0" />
    <param name="camera_use_initial_guess" type="bool" value="0" />
    <param name="camera_calibration_init_yaml" type="string" value="$(find sl_sensor_calibration)/calibration_files/init.xml" />

    <param name="projector_fix_principle_point" type="bool" value="0" />
    <param name="projector_fix_aspect_ratio" type="bool" value="1" />
    <param name="projector_fix_k2" type="bool" value="0" />
    <param name="projector_fix_k3" type="bool" value="0" />
    <param name="projector_zero_tangential_distortion" type="bool" value="0" />
    <param name="projector_fix_values" type="bool" value="1" />
    <param name="projector_use_initial_guess" type="bool" value="0" />
    <param name="projector_calibration_init_yaml" type="string" value="$(find sl_sensor_calibration)/calibration_files/projector/projector.xml"/>

    <param name="checkerboard_rows" type="int" value="14" />
    <param name="checkerboard_cols" type="int" value="12" />
    <param name="checkerboard_size_mm" type="double" value="10" />

    <param name="window_radius" type="int" value="10" />
    <param name="minimum_valid_pixels" type="int" value="50" />

    <param name="residuals_save_folder" type="string" value="$(find sl_sensor_calibration)/residual_files/" />
    <param name="residuals_file_label" type="string" value="sec_cam_calib" />

  </node>



</launch>
