<launch>

  <arg name="is_colour_point_cloud" doc="Whether point cloud is colour (Reconstruction pipeline outputs pcl::PointXYZRGB points) or monochrome (Reconstruction pipeline outputs pcl::PointXYZI points)" default="false" />

  <group if="$(arg is_colour_point_cloud)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sl_sensor)/rviz/scan_rqt_gui_colour.rviz" />	  
  </group>

  <group unless="$(arg is_colour_point_cloud)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sl_sensor)/rviz/scan_rqt_gui_monochrome.rviz" />	  
  </group>

</launch>