
<launch>

  <arg name="rviz" default="true" />
  <arg name="start_delay" default="5.0" />  <!-- Delay recording of rosbag by this amount (in seconds) -->
  <arg name="frame_id" doc="sl_sensor's frame id" default="sl_sensor" />
  <arg name="projector_yaml_directory" doc="projector_yaml_directory" default="$(find sl_sensor_projector)/projector_yaml/lightcrafter4500.yaml" />
  
  <!-- Launch projector-->
  <include file="$(find sl_sensor_projector)/launch/lightcrafter_4500_projector.launch" />

  <!-- Initialise nodelet-->
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen">
    <param name="num_worker_threads" value="10" />
  </node>

  <!-- Image Synchroniser -->
  <include file="$(find sl_sensor_image_acquisition)/launch/image_synchroniser.launch" pass_all_args="true">
    <arg name="image_topics" value="/versavis/cam1/image_raw /versavis/cam2/image_raw" />
    <arg name="fixed_pattern_name" value="" />
  </include>	  

  <!--node pkg="tf" type="static_transform_publisher" name="map_to_sl_sensor"  args="0 0 0 0 0 0 1 map $(arg frame_id) 10" /-->
  <node pkg="tf" type="static_transform_publisher" name="map_to_sl_sensor"  args="0 0 0 3.1415 0 1.5708 ENDEFFECTOR $(arg frame_id) 10" />
  
  <!-- Record Rosbags here (change directory as required)-->
  <node pkg="rosbag" type="record" name="rosbag_record"
    args="record -o /home/ltf/rosbags/ /tf_static /tf /image_synchroniser/grouped_images" 
    launch-prefix="bash -c 'sleep $(arg start_delay); $0 $@' "/>

  <!-- Initialise RVIZ if desired-->
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_sl_sensor" args="-d $(find sl_sensor)/rviz/record.rviz" />
  </group>

</launch>