<launch>

<!-- Public ROS param for service name so other nodes can access it -->
<param name="image_synchroniser_service_name" type="str" value="command_image_synchroniser"/>

<arg name="default_param_file" default="$(find sl_sensor_image_acquisition)/param/default_parameters.yaml"/>
<arg name="fixed_pattern_name" default=""/>


<node pkg="nodelet" type="nodelet" name="image_synchroniser" args="load sl_sensor_image_acquisition/ImageSynchroniserNodelet standalone_nodelet" output="screen">
  <rosparam command="load" file="$(arg default_param_file)" />
  <param name="frame_id" type="str" value="$(arg frame_id)" />
  <param name="projector_yaml_directory" type="str" value="$(arg projector_yaml_directory)"/>
  <param name="image_topics" type="str" value="$(arg image_topics)" />
  <param name="fixed_pattern_name" type="str" value="$(arg fixed_pattern_name)" />
</node>		  

</launch>
