<library path="src">
  <class name="Scanning GUI" type="scanning_gui.scanning.ScanningPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <group>
        <label>SL Sensor</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins for SL Sensor</statustip>
      </group>
      <label>Simple interface for scanning</label>
      <icon type="theme">media-playback-start</icon>
    </qtgui>
  </class>
</library>
