<launch>

  <arg name="save_filename" doc="Name of folder where images will be saved" default="testing" />
  <arg name="save_directory" doc="Directory where folder will with images will be generated" default="$(find sl_sensor_calibration)/calibration_sessions/" />
  <arg name="projector_yaml_directory" doc="projector_yaml_directory" default="$(find sl_sensor_projector)/projector_yaml/lightcrafter4500.yaml" />
  <arg name="primary_camera_name" doc="Name of camera as declared in in versavis, used for triangulation" default="cam2"/>
  <arg name="secondary_camera_name" doc="Name of camera as declared in in versavis, that will be used for colour shading" default="cam1"/>

  <!-- Service Names -->
  <param name="erase_sequence_service_name" value="erase_calibration_sequence"/>
  <param name="grab_sequence_service_name" value="grab_calibration_sequence"/>

  <!-- Projector -->
  <include file="$(find sl_sensor_projector)/launch/lightcrafter_4500_projector.launch" />

  <!-- Nodelet Manager -->
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen">
    <param name="num_worker_threads" value="10" />
  </node>

  <!-- Image Synchroniser Nodelet -->
  <include file="$(find sl_sensor_image_acquisition)/launch/image_synchroniser.launch" pass_all_args="true">
    <arg name="image_topics" value="/versavis/$(arg primary_camera_name)/image_raw /versavis/$(arg secondary_camera_name)/image_raw" />
    <arg name="fixed_pattern_name" value="calibration" />
    <arg name="frame_id" value="sl_sensor" />
  </include>

  <!-- Decoder Nodelet -->
  <node pkg="nodelet" type="nodelet" name="decoder" args="load sl_sensor_codec/DecoderNodelet standalone_nodelet" output="screen">
    <rosparam command="load" file="$(find sl_sensor_codec)/param/default_parameters.yaml" />
    <param name="codec_yaml_directory" type="string" value="$(find sl_sensor_codec)/codec_yaml/codec_config.yaml" /> 
    <param name="projector_yaml_directory" type="string" value="$(arg projector_yaml_directory)" /> 
    <param name="direction" type="string" value="both" />
    <param name="decoder_name" type="string" value="calibration" />
    <param name="cameras_to_decode_indices" type="string" value="0 1" />
  </node>	

  <!-- Calibration Sequence Acquisition Nodelet -->
  <node pkg="nodelet" type="nodelet" name="calibration_sequence_acquisition" args="load sl_sensor_calibration/CalibrationSequenceAcquisitionNodelet standalone_nodelet" output="screen">
    <rosparam command="load" file="$(find sl_sensor_calibration)/param/default_parameters.yaml" />
    <param name="save_directory" type="string" value="$(arg save_directory)" />
    <param name="save_filename" type="string" value="$(arg save_filename)" />
    <param name="number_cameras" type="int" value="2" />
  </node>		  
  
  <!-- Visualisation -->
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find sl_sensor_calibration)/rqt/calibration.perspective"/>

</launch>
