<launch>

  <!-- This launch files calibrates the secondary camera intrinsics. -->
  <!-- Projector intrinsics will be fixed to those calibrated between the primary camera and the projector -->

  <node pkg="sl_sensor_calibration" type="calibrator_node" name="calibrator_node" output="screen" required="true" >

    <param name="output_camera_parameters_filename" type="str" value="$(find sl_sensor_calibration)/calibration_files/secondary_camera/secondary_camera.xml"/>

    <param name="camera_folder_name" type="str" value="cam1" />
    <param name="projector_folder_name" type="str" value="proj1" />
    <param name="directories" type="str" value="$(find sl_sensor_calibration)/calibration_sessions/cam1/" />
    <param name="ignore_1" type="str" value="" />
    <param name="projector_yaml_directory" type="str" value="$(find sl_sensor_projector)/projector_yaml/lightcrafter4500.yaml"/>

    <param name="camera_fix_principle_point" type="bool" value="1" />
    <param name="camera_fix_aspect_ratio" type="bool" value="1" />
    <param name="camera_fix_k2" type="bool" value="0" />
    <param name="camera_fix_k3" type="bool" value="0" />
    <param name="camera_zero_tangential_distortion" type="bool" value="0" />
    <param name="camera_fix_values" type="bool" value="0" />
    <param name="camera_use_initial_guess" type="bool" value="0" />
    <param name="camera_calibration_init_yaml" type="str" value="$(find sl_sensor_calibration)/calibration_files/init.xml" />

    <param name="projector_fix_values" type="bool" value="1" />
    <param name="projector_calibration_init_yaml" type="str" value="$(find sl_sensor_calibration)/calibration_files/projector/projector.xml"/>

    <rosparam command="load" file="$(find sl_sensor_calibration)/param/default_parameters.yaml" />

    <param name="residuals_save_folder" type="str" value="$(find sl_sensor_calibration)/residual_files/" />
    <param name="residuals_file_label" type="str" value="sec_cam_calib" />

  </node>



</launch>
