<launch>

<node pkg="sl_sensor_calibration" name="view_residuals" type="visualise_residuals.py" required="true" output="screen" args='-directories="Primary_Camera,$(find sl_sensor_calibration)/residual_files/cam_residuals_pri_cam_calib.txt Projector,$(find sl_sensor_calibration)/residual_files/proj_residuals_pri_cam_calib.txt"'/> 

</launch>
